@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body {
    text-align: center;
    background-color: black;
    color: white
}
h1{
    font-family: "Poppins";
    font-size: 3em;
}
img {
    width: 400px;
    height: auto;
    position: static
}
a {
    font-size: 1.5em;
    transition: all .2s ease-in-out;
    color: black;
    text-decoration: none;
    background-color: white
}
a:hover {
    transform: scale(1.1);
    font-size: 2em;
    background-color: rgb(15, 15, 15);
    color: white;
    text-decoration: none
}
