@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swapa');

body{
    background-color: black;
    font-family: "Poppins"
}
h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}
#nav1 {text-decoration: none;
}
#nav1 {
    transition: all .1s ease-in-out;
    display: block;
    text-align: center;
    padding: 5px;
    color: Black;
    margin: 10px;
    font-size: 20px;
    background-color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
#nav1:hover {
    background-color: rgb(42, 42, 42);
    color: white
}
footer {
    text-align: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: white;
    color: black
}